#Esempio di cleaning dei dati tramite sostituzione dei dati nulli con dati standardizzati dentro a un dataset tramite jupyter notebook
##Librerie utilizzate

In [36]:
import os
import pandas as pd
import numpy as np
from dateutil.parser import parse, ParserError

##Importiamo, per esempio, il dataset players.csv

In [37]:
df = pd.read_csv('../DataAnalysis/Datasets/players.csv')
pd.options.display.max_rows = 400
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30302 entries, 0 to 30301
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             30302 non-null  int64
 1   first_name                            28337 non-null  object
 2   last_name                             30302 non-null  object
 3   name                                  30302 non-null  object
 4   last_season                           30302 non-null  int64
 5   current_club_id                       30302 non-null  int64
 6   player_code                           30302 non-null  object
 7   country_of_birth                      27613 non-null  object
 8   city_of_birth                         28099 non-null  object
 9   country_of_citizenship                29759 non-null  object
 10  date_of_birth                         30255 non-null  object
 11  sub_position                          30130 non-null  object
 12  position                              30302 non-null  object
 13  foot                                  27913 non-null  object
 14  height_in_cm                          28204 non-null  float64
 15  market_value_in_eur                   19383 non-null  float64
 16  highest_market_value_in_eur           28981 non-null  float64
 17  contract_expiration_date              18835 non-null  object
 18  agent_name                            14941 non-null  object
 19  image_url                             30302 non-null  object
 20  url                                   30302 non-null  object
 21  current_club_domestic_competition_id  30302 non-null  object
 22  current_club_name                     30302 non-null  object
dtypes: float64(3), int64(3), object(17)
memory usage: 5.3+ MB
None

##Osserviamo adesso quali colonne contengono campi vuoti al loro interno e la quantità di tali campi

In [38]:
colonne_con_campi_vuoti = df.columns[df.isnull().any()]
print("Colonne con campi vuoti:")
print(colonne_con_campi_vuoti)

Colonne con campi vuoti:
Index(['first_name', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'foot',
       'height_in_cm', 'market_value_in_eur', 'highest_market_value_in_eur',
       'contract_expiration_date', 'agent_name'],
      dtype='object')

In [39]:
for colonna in colonne_con_campi_vuoti:
    conteggio_campi_vuoti = df[colonna].isnull().sum()
    print(f"Colonna '{colonna}' ha {conteggio_campi_vuoti} campi vuoti.")

Colonna 'first_name' ha 1965 campi vuoti.
Colonna 'country_of_birth' ha 2689 campi vuoti.
Colonna 'city_of_birth' ha 2203 campi vuoti.
Colonna 'country_of_citizenship' ha 543 campi vuoti.
Colonna 'date_of_birth' ha 47 campi vuoti.
Colonna 'sub_position' ha 172 campi vuoti.
Colonna 'foot' ha 2389 campi vuoti.
Colonna 'height_in_cm' ha 2098 campi vuoti.
Colonna 'market_value_in_eur' ha 10919 campi vuoti.
Colonna 'highest_market_value_in_eur' ha 1321 campi vuoti.
Colonna 'contract_expiration_date' ha 11467 campi vuoti.
Colonna 'agent_name' ha 15361 campi vuoti.

##Cambiamo adesso i valori nulli con i corretti valori di default

In [40]:
df.fillna({"foot": "null"}, inplace=True)
df.fillna({"market_value_in_eur": -1}, inplace=True)
df.fillna({"sub_position": "Missing"}, inplace=True)
df.fillna({"first_name": "Missing"}, inplace=True)
df.fillna({"country_of_birth": "Missing"}, inplace=True)
df.fillna({"city_of_birth": "Missing"}, inplace=True)
df.fillna({"country_of_citizenship": "Missing"}, inplace=True)
df.fillna({"height_in_cm": -1}, inplace=True)
df.fillna({"market_value_in_eur": -1}, inplace=True)
df.fillna({"highest_market_value_in_eur": -1}, inplace=True)
df.fillna({"agent_name": "Missing"}, inplace=True)
print(df)

       player_id first_name    last_name                name  last_season  \
0            598       Timo   Hildebrand     Timo Hildebrand         2014
1            670     Martin       Petrov       Martin Petrov         2012
2           1323     Martin      Amedick      Martin Amedick         2012
3           3195   Jermaine      Pennant    Jermaine Pennant         2013
4           3259     Damien         Duff         Damien Duff         2013
...          ...        ...          ...                 ...          ...
30297     371851       Jaka        Bijol          Jaka Bijol         2023
30298     537171     Semuel  Pizzignacco  Semuel Pizzignacco         2018
30299     586756      Festy      Ebosele       Festy Ebosele         2023
30300     704692     Nicolò      Cocetta      Nicolò Cocetta         2022
30301     925584       Axel     Guessand       Axel Guessand         2023

       current_club_id         player_code country_of_birth  \
0                   24     timo-hildebrand          Germany
1                  714       martin-petrov         Bulgaria
2                   24      martin-amedick          Germany
3                  512    jermaine-pennant          England
4                  931         damien-duff          Ireland
...                ...                 ...              ...
30297              410          jaka-bijol         Slovenia
30298              410  semuel-pizzignacco            Italy
30299              410       festy-ebosele          Ireland
30300              410      nicolo-cocetta            Italy
30301              410       axel-guessand           France

                city_of_birth country_of_citizenship  ...   foot height_in_cm  \
0                       Worms                Germany  ...   null         -1.0
1                      Vratsa               Bulgaria  ...   null         -1.0
2                   Paderborn                Germany  ...   null         -1.0
3                  Nottingham                England  ...  right        173.0
4                  Ballyboden                Ireland  ...   left        177.0
...                       ...                    ...  ...    ...          ...
30297                Vuzenica               Slovenia  ...  right        190.0
30298              Monfalcone                  Italy  ...  right        188.0
30299    Enniscorthy, Wexford                Ireland  ...  right        180.0
30300  San Daniele del Friuli                  Italy  ...   null         -1.0
30301            Schiltigheim                 France  ...   left        184.0

      market_value_in_eur highest_market_value_in_eur  \
0                    -1.0                  10000000.0
1                    -1.0                  12000000.0
2                    -1.0                   2750000.0
3                    -1.0                  10500000.0
4                    -1.0                  17000000.0
...                   ...                         ...
30297          10000000.0                  10000000.0
30298            325000.0                    350000.0
30299           4500000.0                   4500000.0
30300             75000.0                     75000.0
30301            250000.0                    300000.0

       contract_expiration_date         agent_name  \
0                           NaN            Missing
1                           NaN                IFM
2                           NaN            Missing
3                           NaN         Andrew Sky
4                           NaN            Missing
...                         ...                ...
30297       2027-06-30 00:00:00          MSC GROUP
30298       2025-06-30 00:00:00            Missing
30299       2027-06-30 00:00:00  The Kulture Group
30300       2023-06-30 00:00:00            Missing
30301       2027-06-30 00:00:00        CAA Stellar

                                               image_url  \
0      https://img.a.transfermarkt.technology/portrai...
1      https://img.a.transfermarkt.technology/portrai...
2      https://img.a.transfermarkt.technology/portrai...
3      https://img.a.transfermarkt.technology/portrai...
4      https://img.a.transfermarkt.technology/portrai...
...                                                  ...
30297  https://img.a.transfermarkt.technology/portrai...
30298  https://img.a.transfermarkt.technology/portrai...
30299  https://img.a.transfermarkt.technology/portrai...
30300  https://img.a.transfermarkt.technology/portrai...
30301  https://img.a.transfermarkt.technology/portrai...

                                                     url  \
0      https://www.transfermarkt.co.uk/timo-hildebran...
1      https://www.transfermarkt.co.uk/martin-petrov/...
2      https://www.transfermarkt.co.uk/martin-amedick...
3      https://www.transfermarkt.co.uk/jermaine-penna...
4      https://www.transfermarkt.co.uk/damien-duff/pr...
...                                                  ...
30297  https://www.transfermarkt.co.uk/jaka-bijol/pro...
30298  https://www.transfermarkt.co.uk/semuel-pizzign...
30299  https://www.transfermarkt.co.uk/festy-ebosele/...
30300  https://www.transfermarkt.co.uk/nicolo-cocetta...
30301  https://www.transfermarkt.co.uk/axel-guessand/...

      current_club_domestic_competition_id       current_club_name
0                                       L1     Eintracht Frankfurt
1                                      ES1  RCD Espanyol Barcelona
2                                       L1     Eintracht Frankfurt
3                                      GB1              Stoke City
4                                      GB1               Fulham FC
...                                    ...                     ...
30297                                  IT1          Udinese Calcio
30298                                  IT1          Udinese Calcio
30299                                  IT1          Udinese Calcio
30300                                  IT1          Udinese Calcio
30301                                  IT1          Udinese Calcio

[30302 rows x 23 columns]

##Cambiamo il formato della data di "contract_expiration_date" e "date_of_birth" rimpiazzando i valori "null" con la data di default "1900-01-01"

In [41]:
df.fillna({"contract_expiration_date": "1900-01-01 00:00:00"}, inplace=True)
df["contract_expiration_date"] = pd.to_datetime(df["contract_expiration_date"]).dt.normalize()
#utilizzo il formato mixed poichè date of birth presenta valori letterali nel dataset, che impedirebbero la pulitura senza tale specifica dato che sto inserendo solo caratteri numerici
df.fillna({"date_of_birth": "1900-01-01 00:00:00"}, inplace=True)
df["date_of_birth"] = pd.to_datetime(df["date_of_birth"], format = 'mixed').dt.normalize()

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30302 entries, 0 to 30301
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             30302 non-null  int64
 1   first_name                            30302 non-null  object
 2   last_name                             30302 non-null  object
 3   name                                  30302 non-null  object
 4   last_season                           30302 non-null  int64
 5   current_club_id                       30302 non-null  int64
 6   player_code                           30302 non-null  object
 7   country_of_birth                      30302 non-null  object
 8   city_of_birth                         30302 non-null  object
 9   country_of_citizenship                30302 non-null  object
 10  date_of_birth                         30302 non-null  datetime64[ns]
 11  sub_position                          30302 non-null  object
 12  position                              30302 non-null  object
 13  foot                                  30302 non-null  object
 14  height_in_cm                          30302 non-null  float64
 15  market_value_in_eur                   30302 non-null  float64
 16  highest_market_value_in_eur           30302 non-null  float64
 17  contract_expiration_date              30302 non-null  datetime64[ns]
 18  agent_name                            30302 non-null  object
 19  image_url                             30302 non-null  object
 20  url                                   30302 non-null  object
 21  current_club_domestic_competition_id  30302 non-null  object
 22  current_club_name                     30302 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(3), object(15)
memory usage: 5.3+ MB
None

##Convertiamo tipi di oggetti nei relativi tipi corretti

In [42]:
df["market_value_in_eur"] = df["market_value_in_eur"].astype(float)
df["first_name"] = df["first_name"].astype(str)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30302 entries, 0 to 30301
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             30302 non-null  int64
 1   first_name                            30302 non-null  object
 2   last_name                             30302 non-null  object
 3   name                                  30302 non-null  object
 4   last_season                           30302 non-null  int64
 5   current_club_id                       30302 non-null  int64
 6   player_code                           30302 non-null  object
 7   country_of_birth                      30302 non-null  object
 8   city_of_birth                         30302 non-null  object
 9   country_of_citizenship                30302 non-null  object
 10  date_of_birth                         30302 non-null  datetime64[ns]
 11  sub_position                          30302 non-null  object
 12  position                              30302 non-null  object
 13  foot                                  30302 non-null  object
 14  height_in_cm                          30302 non-null  float64
 15  market_value_in_eur                   30302 non-null  float64
 16  highest_market_value_in_eur           30302 non-null  float64
 17  contract_expiration_date              30302 non-null  datetime64[ns]
 18  agent_name                            30302 non-null  object
 19  image_url                             30302 non-null  object
 20  url                                   30302 non-null  object
 21  current_club_domestic_competition_id  30302 non-null  object
 22  current_club_name                     30302 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(3), object(15)
memory usage: 5.3+ MB
None

##Puliamo adesso il dataset "Competitions"

In [43]:
dfcompetitions = pd.read_csv('../DataAnalysis/Datasets/competitions.csv')
pd.options.display.max_rows = 400
print(dfcompetitions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   competition_id        43 non-null     object
 1   competition_code      43 non-null     object
 2   name                  43 non-null     object
 3   sub_type              43 non-null     object
 4   type                  43 non-null     object
 5   country_id            43 non-null     int64
 6   country_name          36 non-null     object
 7   domestic_league_code  36 non-null     object
 8   confederation         43 non-null     object
 9   url                   43 non-null     object
dtypes: int64(1), object(9)
memory usage: 3.5+ KB
None

###Anche qui osserviamo quali colonne contengono valori nulli

In [44]:
# Trovo le colonne con celle vuote
empty_columns_cells = dfcompetitions.columns[dfcompetitions.isnull().any()]
print("Colonne con campi vuoti:")
print(empty_columns_cells)
# Conto le celle vuote per ogni colonna
for col in empty_columns_cells:
    conteggio_campi_vuoti = dfcompetitions[col].isnull().sum()
    print(f"Colonna '{col}' ha {conteggio_campi_vuoti} campi vuoti.")

Colonne con campi vuoti:
Index(['country_name', 'domestic_league_code'], dtype='object')
Colonna 'country_name' ha 7 campi vuoti.
Colonna 'domestic_league_code' ha 7 campi vuoti.

In [45]:
dfcompetitions.fillna({"country_name": "Missing"}, inplace=True)
dfcompetitions.fillna({"domestic_league_code": "Missing"}, inplace=True)
print(dfcompetitions.info())
print(dfcompetitions)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   competition_id        43 non-null     object
 1   competition_code      43 non-null     object
 2   name                  43 non-null     object
 3   sub_type              43 non-null     object
 4   type                  43 non-null     object
 5   country_id            43 non-null     int64
 6   country_name          43 non-null     object
 7   domestic_league_code  43 non-null     object
 8   confederation         43 non-null     object
 9   url                   43 non-null     object
dtypes: int64(1), object(9)
memory usage: 3.5+ KB
None
   competition_id                             competition_code  \
0             CIT                                    italy-cup
1            NLSC                         johan-cruijff-schaal
2             GRP                              kypello-elladas
3            POSU                supertaca-candido-de-oliveira
4            RUSS                            russian-super-cup
5             SUC                                    supercopa
6             USC                               uefa-super-cup
7             DK1                                  superligaen
8              EL                                europa-league
9             ES1                                       laliga
10            FR1                                      ligue-1
11            IT1                                      serie-a
12            NL1                                   eredivisie
13            RUP                                  russian-cup
14            PO1                           liga-portugal-bwin
15           BESC                             belgian-supercup
16            GB1                               premier-league
17            ELQ                  europa-league-qualifikation
18            CGB                                      efl-cup
19            DKP                              sydbank-pokalen
20           ECLQ  uefa-europa-conference-league-qualifikation
21            FAC                                       fa-cup
22            NLP                              toto-knvb-beker
23           UKRS                          ukrainian-super-cup
24           UKR1                                 premier-liga
25            CDR                                 copa-del-rey
26             CL                        uefa-champions-league
27            GR1                               super-league-1
28            TR1                                    super-lig
29           POCP                                  allianz-cup
30           GBCS                             community-shield
31           KLUB                                 fifa-klub-wm
32             L1                                   bundesliga
33            RU1                                 premier-liga
34            SC1                         scottish-premiership
35            SCI                          supercoppa-italiana
36            BE1                           jupiler-pro-league
37            CLQ          uefa-champions-league-qualifikation
38            DFL                                 dfl-supercup
39            SFA                                      sfa-cup
40           UKRP                                ukrainian-cup
41            DFB                                    dfb-pokal
42           FRCH                        trophee-des-champions

                                           name  \
0                                     italy-cup
1                          johan-cruijff-schaal
2                               kypello-elladas
3                 supertaca-candido-de-oliveira
4                             russian-super-cup
5                                     supercopa
6                                uefa-super-cup
7                                   superligaen
8                                 europa-league
9                                        laliga
10                                      ligue-1
11                                      serie-a
12                                   eredivisie
13                                  russian-cup
14                           liga-portugal-bwin
15                             belgian-supercup
16                               premier-league
17                  europa-league-qualifikation
18                                      efl-cup
19                              sydbank-pokalen
20  uefa-europa-conference-league-qualifikation
21                                       fa-cup
22                              toto-knvb-beker
23                          ukrainian-super-cup
24                                 premier-liga
25                                 copa-del-rey
26                        uefa-champions-league
27                               super-league-1
28                                    super-lig
29                                  allianz-cup
30                             community-shield
31                                 fifa-klub-wm
32                                   bundesliga
33                                 premier-liga
34                         scottish-premiership
35                          supercoppa-italiana
36                           jupiler-pro-league
37          uefa-champions-league-qualifikation
38                                 dfl-supercup
39                                      sfa-cup
40                                ukrainian-cup
41                                    dfb-pokal
42                        trophee-des-champions

                                    sub_type               type  country_id  \
0                               domestic_cup       domestic_cup          75
1                         domestic_super_cup              other         122
2                               domestic_cup       domestic_cup          56
3                         domestic_super_cup              other         136
4                         domestic_super_cup              other         141
5                         domestic_super_cup              other         157
6                             uefa_super_cup              other          -1
7                                 first_tier    domestic_league          39
8                              europa_league  international_cup          -1
9                                 first_tier    domestic_league         157
10                                first_tier    domestic_league          50
11                                first_tier    domestic_league          75
12                                first_tier    domestic_league         122
13                              domestic_cup       domestic_cup         141
14                                first_tier    domestic_league         136
15                        domestic_super_cup              other          19
16                                first_tier    domestic_league         189
17                  europa_league_qualifying  international_cup          -1
18                                league_cup              other         189
19                              domestic_cup       domestic_cup          39
20  uefa_europa_conference_league_qualifiers  international_cup          -1
21                              domestic_cup       domestic_cup         189
22                              domestic_cup       domestic_cup         122
23                        domestic_super_cup              other         177
24                                first_tier    domestic_league         177
25                              domestic_cup       domestic_cup         157
26                     uefa_champions_league  international_cup          -1
27                                first_tier    domestic_league          56
28                                first_tier    domestic_league         174
29                              domestic_cup       domestic_cup         136
30                        domestic_super_cup              other         189
31                       fifa_club_world_cup              other          -1
32                                first_tier    domestic_league          40
33                                first_tier    domestic_league         141
34                                first_tier    domestic_league         190
35                        domestic_super_cup              other          75
36                                first_tier    domestic_league          19
37          uefa_champions_league_qualifying  international_cup          -1
38                        domestic_super_cup              other          40
39                              domestic_cup       domestic_cup         190
40                              domestic_cup       domestic_cup         177
41                              domestic_cup       domestic_cup          40
42                        domestic_super_cup              other          50

   country_name domestic_league_code confederation  \
0         Italy                  IT1        europa
1   Netherlands                  NL1        europa
2        Greece                  GR1        europa
3      Portugal                  PO1        europa
4        Russia                  RU1        europa
5         Spain                  ES1        europa
6       Missing              Missing        europa
7       Denmark                  DK1        europa
8       Missing              Missing        europa
9         Spain                  ES1        europa
10       France                  FR1        europa
11        Italy                  IT1        europa
12  Netherlands                  NL1        europa
13       Russia                  RU1        europa
14     Portugal                  PO1        europa
15      Belgium                  BE1        europa
16      England                  GB1        europa
17      Missing              Missing        europa
18      England                  GB1        europa
19      Denmark                  DK1        europa
20      Missing              Missing        europa
21      England                  GB1        europa
22  Netherlands                  NL1        europa
23      Ukraine                 UKR1        europa
24      Ukraine                 UKR1        europa
25        Spain                  ES1        europa
26      Missing              Missing        europa
27       Greece                  GR1        europa
28       Turkey                  TR1        europa
29     Portugal                  PO1        europa
30      England                  GB1        europa
31      Missing              Missing        europa
32      Germany                   L1        europa
33       Russia                  RU1        europa
34     Scotland                  SC1        europa
35        Italy                  IT1        europa
36      Belgium                  BE1        europa
37      Missing              Missing        europa
38      Germany                   L1        europa
39     Scotland                  SC1        europa
40      Ukraine                 UKR1        europa
41      Germany                   L1        europa
42       France                  FR1        europa

                                                  url
0   https://www.transfermarkt.co.uk/italy-cup/star...
1   https://www.transfermarkt.co.uk/johan-cruijff-...
2   https://www.transfermarkt.co.uk/kypello-ellada...
3   https://www.transfermarkt.co.uk/supertaca-cand...
4   https://www.transfermarkt.co.uk/russian-super-...
5   https://www.transfermarkt.co.uk/supercopa/star...
6   https://www.transfermarkt.co.uk/uefa-super-cup...
7   https://www.transfermarkt.co.uk/superligaen/st...
8   https://www.transfermarkt.co.uk/europa-league/...
9   https://www.transfermarkt.co.uk/laliga/startse...
10  https://www.transfermarkt.co.uk/ligue-1/starts...
11  https://www.transfermarkt.co.uk/serie-a/starts...
12  https://www.transfermarkt.co.uk/eredivisie/sta...
13  https://www.transfermarkt.co.uk/russian-cup/st...
14  https://www.transfermarkt.co.uk/liga-portugal-...
15  https://www.transfermarkt.co.uk/belgian-superc...
16  https://www.transfermarkt.co.uk/premier-league...
17  https://www.transfermarkt.co.uk/europa-league-...
18  https://www.transfermarkt.co.uk/efl-cup/starts...
19  https://www.transfermarkt.co.uk/sydbank-pokale...
20  https://www.transfermarkt.co.uk/uefa-europa-co...
21  https://www.transfermarkt.co.uk/fa-cup/startse...
22  https://www.transfermarkt.co.uk/toto-knvb-beke...
23  https://www.transfermarkt.co.uk/ukrainian-supe...
24  https://www.transfermarkt.co.uk/premier-liga/s...
25  https://www.transfermarkt.co.uk/copa-del-rey/s...
26  https://www.transfermarkt.co.uk/uefa-champions...
27  https://www.transfermarkt.co.uk/super-league-1...
28  https://www.transfermarkt.co.uk/super-lig/star...
29  https://www.transfermarkt.co.uk/allianz-cup/st...
30  https://www.transfermarkt.co.uk/community-shie...
31  https://www.transfermarkt.co.uk/fifa-klub-wm/s...
32  https://www.transfermarkt.co.uk/bundesliga/sta...
33  https://www.transfermarkt.co.uk/premier-liga/s...
34  https://www.transfermarkt.co.uk/scottish-premi...
35  https://www.transfermarkt.co.uk/supercoppa-ita...
36  https://www.transfermarkt.co.uk/jupiler-pro-le...
37  https://www.transfermarkt.co.uk/uefa-champions...
38  https://www.transfermarkt.co.uk/dfl-supercup/s...
39  https://www.transfermarkt.co.uk/sfa-cup/starts...
40  https://www.transfermarkt.co.uk/ukrainian-cup/...
41  https://www.transfermarkt.co.uk/dfb-pokal/star...
42  https://www.transfermarkt.co.uk/trophee-des-ch...

##Now let's clean the dataset "clubs", osserviamo le colonne con valori nulli e andiamo a riempirle con dati generici indicanti appunto la mancanza di dati

In [46]:
dfclub = pd.read_csv('../DataAnalysis/Datasets/clubs.csv')
pd.options.display.max_rows = 400
print(dfclub.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club_id                  426 non-null    int64
 1   club_code                426 non-null    object
 2   name                     426 non-null    object
 3   domestic_competition_id  426 non-null    object
 4   total_market_value       0 non-null      float64
 5   squad_size               426 non-null    int64
 6   average_age              388 non-null    float64
 7   foreigners_number        426 non-null    int64
 8   foreigners_percentage    379 non-null    float64
 9   national_team_players    426 non-null    int64
 10  stadium_name             426 non-null    object
 11  stadium_seats            426 non-null    int64
 12  net_transfer_record      426 non-null    object
 13  coach_name               0 non-null      float64
 14  last_season              426 non-null    int64
 15  url                      426 non-null    object
dtypes: float64(4), int64(6), object(6)
memory usage: 53.4+ KB
None

In [47]:
# Trovo le colonne con celle vuote
empty_columns_cells = dfclub.columns[dfclub.isnull().any()]

print("Colonne con campi vuoti:")
print(empty_columns_cells)  # List of column names

# Conto le celle vuote per ogni colonna
for col in empty_columns_cells:
    conteggio_campi_vuoti_club = dfclub[col].isnull().sum()
    print(f"Colonna '{col}' ha {conteggio_campi_vuoti_club} campi vuoti.")

Colonne con campi vuoti:
Index(['total_market_value', 'average_age', 'foreigners_percentage',
       'coach_name'],
      dtype='object')
Colonna 'total_market_value' ha 426 campi vuoti.
Colonna 'average_age' ha 38 campi vuoti.
Colonna 'foreigners_percentage' ha 47 campi vuoti.
Colonna 'coach_name' ha 426 campi vuoti.

In [48]:
#tramite il metodo fillna riempio i valori vuoti con valori generici, -1 in caso di valori numerici e "Missing" per valori testuali
dfclub.fillna({"total_market_value": -1}, inplace=True)
dfclub.fillna({"average_age": -1}, inplace=True)
dfclub.fillna({"foreigners_percentage": -1}, inplace=True)
dfclub.fillna({"coach_name": "Missing"}, inplace=True)
print(dfclub.info())
print(dfclub)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club_id                  426 non-null    int64
 1   club_code                426 non-null    object
 2   name                     426 non-null    object
 3   domestic_competition_id  426 non-null    object
 4   total_market_value       426 non-null    float64
 5   squad_size               426 non-null    int64
 6   average_age              426 non-null    float64
 7   foreigners_number        426 non-null    int64
 8   foreigners_percentage    426 non-null    float64
 9   national_team_players    426 non-null    int64
 10  stadium_name             426 non-null    object
 11  stadium_seats            426 non-null    int64
 12  net_transfer_record      426 non-null    object
 13  coach_name               426 non-null    object
 14  last_season              426 non-null    int64
 15  url                      426 non-null    object
dtypes: float64(3), int64(6), object(7)
memory usage: 53.4+ KB
None
     club_id             club_code                               name  \
0        105       sv-darmstadt-98   Sportverein Darmstadt 1898 e. V.
1      11127     ural-ekaterinburg              FK Ural Yekaterinburg
2        114     besiktas-istanbul          Beşiktaş Jimnastik Kulübü
3         12                as-rom         Associazione Sportiva Roma
4        148     tottenham-hotspur    Tottenham Hotspur Football Club
..       ...                   ...                                ...
421    68608      cf-os-belenenses                   CF Os Belenenses
422      724           fc-volendam             Football Club Volendam
423      800      atalanta-bergamo  Atalanta Bergamasca Calcio S.p.a.
424      979         moreirense-fc           Moreirense Futebol Clube
425      984  west-bromwich-albion               West Bromwich Albion

    domestic_competition_id  total_market_value  squad_size  average_age  \
0                        L1                -1.0          30         26.4
1                       RU1                -1.0          25         28.2
2                       TR1                -1.0          32         27.4
3                       IT1                -1.0          26         27.4
4                       GB1                -1.0          29         26.2
..                      ...                 ...         ...          ...
421                     PO1                -1.0          30         25.7
422                     NL1                -1.0          29         22.8
423                     IT1                -1.0          25         27.2
424                     PO1                -1.0          26         26.0
425                     GB1                -1.0          25         27.8

     foreigners_number  foreigners_percentage  national_team_players  \
0                   11                   36.7                      1
1                   13                   52.0                      5
2                   16                   50.0                     13
3                   17                   65.4                     17
4                   21                   72.4                     22
..                 ...                    ...                    ...
421                  5                   16.7                      0
422                 14                   48.3                      3
423                 17                   68.0                     15
424                 17                   65.4                      2
425                  8                   32.0                      4

                         stadium_name  stadium_seats net_transfer_record  \
0      Merck-Stadion am Böllenfalltor          17810             €-1.60m
1                 Yekaterinburg Arena          23000              €-770k
2                     Tüpraş Stadyumu          42590            €-14.50m
3                    Olimpico di Roma          73261            +€65.20m
4           Tottenham Hotspur Stadium          62062           €-130.40m
..                                ...            ...                 ...
421                Estádio do Restelo          19980                 +-0
422                      Kras Stadion           7384             +€1.80m
423                    Gewiss Stadium          21747            +€87.00m
424  Estádio C. J. de Almeida Freitas           6153             €-2.05m
425                     The Hawthorns          26850             €-1.35m

    coach_name  last_season                                                url
0      Missing         2023  https://www.transfermarkt.co.uk/sv-darmstadt-9...
1      Missing         2023  https://www.transfermarkt.co.uk/ural-ekaterinb...
2      Missing         2023  https://www.transfermarkt.co.uk/besiktas-istan...
3      Missing         2023  https://www.transfermarkt.co.uk/as-rom/startse...
4      Missing         2023  https://www.transfermarkt.co.uk/tottenham-hots...
..         ...          ...                                                ...
421    Missing         2017  https://www.transfermarkt.co.uk/cf-os-belenens...
422    Missing         2023  https://www.transfermarkt.co.uk/fc-volendam/st...
423    Missing         2023  https://www.transfermarkt.co.uk/atalanta-berga...
424    Missing         2023  https://www.transfermarkt.co.uk/moreirense-fc/...
425    Missing         2020  https://www.transfermarkt.co.uk/west-bromwich-...

[426 rows x 16 columns]

##puliamo il dataset players_valuations

In [68]:
dfeval = pd.read_csv('../DataAnalysis/Datasets/player_valuations.csv')
pd.options.display.max_rows = 400
print(dfeval.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32939 entries, 0 to 32938
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   player_id                            32939 non-null  int64
 1   last_season                          32939 non-null  int64
 2   datetime                             32938 non-null  object
 3   date                                 32938 non-null  object
 4   dateweek                             32938 non-null  object
 5   market_value_in_eur                  32938 non-null  float64
 6   n                                    32938 non-null  float64
 7   current_club_id                      32938 non-null  float64
 8   player_club_domestic_competition_id  32938 non-null  object
dtypes: float64(3), int64(2), object(4)
memory usage: 2.3+ MB
None

In [70]:
# Trovo le colonne con celle vuote
empty_columns_cells = dfeval.columns[dfeval.isnull().any()]

print("Colonne con campi vuoti:")
print(empty_columns_cells)  # List of column names

# Conto le celle vuote per ogni colonna
for col in empty_columns_cells:
    conteggio_campi_vuoti_eval = dfeval[col].isnull().sum()
    print(f"Colonna '{col}' ha {conteggio_campi_vuoti_eval} campi vuoti.")

Colonne con campi vuoti:
Index(['datetime', 'date', 'dateweek', 'market_value_in_eur', 'n',
       'current_club_id', 'player_club_domestic_competition_id'],
      dtype='object')
Colonna 'datetime' ha 1 campi vuoti.
Colonna 'date' ha 1 campi vuoti.
Colonna 'dateweek' ha 1 campi vuoti.
Colonna 'market_value_in_eur' ha 1 campi vuoti.
Colonna 'n' ha 1 campi vuoti.
Colonna 'current_club_id' ha 1 campi vuoti.
Colonna 'player_club_domestic_competition_id' ha 1 campi vuoti.

In [73]:
#tramite il metodo fillna riempio i valori vuoti con valori generici, -1 in caso di valori numerici e "Missing" per valori testuali
dfeval.fillna({"n": 0}, inplace=True)
dfeval.fillna({"market_value_in_eur": -1}, inplace=True)
dfeval.fillna({"current_club_id": "Missing"}, inplace=True)
dfeval.fillna({"player_club_domestic_competition_id": "Missing"}, inplace=True)
dfeval.fillna({"date": "1900-01-01"}, inplace=True)
dfeval["date"] = pd.to_datetime(dfeval["date"], format = 'mixed').dt.normalize()
dfeval.fillna({"datetime": "1900-01-01 00:00:00"}, inplace=True)
dfeval["datetime"] = pd.to_datetime(dfeval["datetime"], format = 'mixed').dt.normalize()
dfeval.fillna({"dateweek": "1900-01-01"}, inplace=True)
dfeval["dateweek"] = pd.to_datetime(dfeval["dateweek"], format = 'mixed').dt.normalize()

print(dfeval.info())
print(dfeval)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32939 entries, 0 to 32938
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   player_id                            32939 non-null  int64
 1   last_season                          32939 non-null  int64
 2   datetime                             32939 non-null  datetime64[ns]
 3   date                                 32939 non-null  datetime64[ns]
 4   dateweek                             32939 non-null  datetime64[ns]
 5   market_value_in_eur                  32939 non-null  float64
 6   n                                    32939 non-null  float64
 7   current_club_id                      32939 non-null  object
 8   player_club_domestic_competition_id  32939 non-null  object
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 2.3+ MB
None
       player_id  last_season   datetime       date   dateweek  \
0           3132         2013 2003-12-09 2003-12-09 2003-12-08
1           6893         2012 2003-12-15 2003-12-15 2003-12-15
2             10         2015 2004-10-04 2004-10-04 2004-10-04
3             26         2017 2004-10-04 2004-10-04 2004-10-04
4             65         2015 2004-10-04 2004-10-04 2004-10-04
...          ...          ...        ...        ...        ...
32934      15075         2014 2009-12-22 2009-12-22 2009-12-21
32935      15076         2018 2009-12-22 2009-12-22 2009-12-21
32936      15077         2016 2009-12-22 2009-12-22 2009-12-21
32937      15275         2012 2009-12-22 2009-12-22 2009-12-21
32938      15338          201 1900-01-01 1900-01-01 1900-01-01

       market_value_in_eur    n current_club_id  \
0                 400000.0  1.0           126.0
1                 900000.0  1.0           984.0
2                7000000.0  1.0           398.0
3                1500000.0  1.0            16.0
4                8000000.0  1.0          1091.0
...                    ...  ...             ...
32934            4500000.0  1.0          1083.0
32935            3800000.0  1.0          2696.0
32936            3400000.0  1.0          3729.0
32937            1800000.0  1.0          3911.0
32938                 -1.0  0.0         Missing

      player_club_domestic_competition_id
0                                     TR1
1                                     GB1
2                                     IT1
3                                      L1
4                                     GR1
...                                   ...
32934                                 RU1
32935                                 RU1
32936                                 RU1
32937                                 FR1
32938                             Missing

[32939 rows x 9 columns]

#puliamo adesso i dataset presenti sul server con driver MongoDB, in ordine appearances, club_games, game_events, game_lineups e games

In [75]:
dfapp = pd.read_csv('../DataAnalysis/Datasets/appearances.csv')
pd.options.display.max_rows = 400
print(dfapp.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29974 entries, 0 to 29973
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   appearance_id           29974 non-null  object
 1   game_id                 29974 non-null  int64
 2   player_id               29974 non-null  int64
 3   player_club_id          29974 non-null  int64
 4   player_current_club_id  29974 non-null  int64
 5   date                    29974 non-null  object
 6   player_name             29974 non-null  object
 7   competition_id          29974 non-null  object
 8   yellow_cards            29974 non-null  int64
 9   red_cards               29974 non-null  int64
 10  goals                   29974 non-null  int64
 11  assists                 29974 non-null  int64
 12  minutes_played          29973 non-null  float64
dtypes: float64(1), int64(8), object(4)
memory usage: 3.0+ MB
None

In [76]:
# Trovo le colonne con celle vuote
empty_columns_cells = dfapp.columns[dfapp.isnull().any()]

print("Colonne con campi vuoti:")
print(empty_columns_cells)  # List of column names

# Conto le celle vuote per ogni colonna
for col in empty_columns_cells:
    conteggio_campi_vuoti_app = dfapp[col].isnull().sum()
    print(f"Colonna '{col}' ha {conteggio_campi_vuoti_app} campi vuoti.")

Colonne con campi vuoti:
Index(['minutes_played'], dtype='object')
Colonna 'minutes_played' ha 1 campi vuoti.

In [78]:
dfapp.fillna({"minutes_played": "Missing"}, inplace=True)
print(dfapp.info())
print(dfapp)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29974 entries, 0 to 29973
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   appearance_id           29974 non-null  object
 1   game_id                 29974 non-null  int64
 2   player_id               29974 non-null  int64
 3   player_club_id          29974 non-null  int64
 4   player_current_club_id  29974 non-null  int64
 5   date                    29974 non-null  object
 6   player_name             29974 non-null  object
 7   competition_id          29974 non-null  object
 8   yellow_cards            29974 non-null  int64
 9   red_cards               29974 non-null  int64
 10  goals                   29974 non-null  int64
 11  assists                 29974 non-null  int64
 12  minutes_played          29974 non-null  float64
dtypes: float64(1), int64(8), object(4)
memory usage: 3.0+ MB
None
        appearance_id  game_id  player_id  player_club_id  \
0       2231978_38004  2231978      38004             853
1       2233748_79232  2233748      79232            8841
2       2234413_42792  2234413      42792            6251
3       2234418_73333  2234418      73333            1274
4      2234421_122011  2234421     122011             195
...               ...      ...        ...             ...
29969  2223863_111511  2223863     111511             595
29970   2223863_12093  2223863      12093             595
29971  2223863_126542  2223863     126542            1095
29972  2223863_156618  2223863     156618            1095
29973  2223863_164897  2223863     164897            1095

       player_current_club_id        date               player_name  \
0                         235  2012-07-03          Aurélien Joachim
1                        2698  2012-07-05            Ruslan Abyshov
2                         465  2012-07-05               Sander Puri
3                        6646  2012-07-05           Vegar Hedenstad
4                        3008  2012-07-05          Markus Henriksen
...                       ...         ...                       ...
29969                     595  2012-10-06             Matthieu Sans
29970                     347  2012-10-06           Sylvain Marchal
29971                    3057  2012-10-06           Mohamed Yattara
29972                     347  2012-10-06              Maxime Colin
29973                     200  2012-10-06  Jean-Christophe Bahebeck

      competition_id  yellow_cards  red_cards  goals  assists  minutes_played
0                CLQ             0          0      2        0            90.0
1                ELQ             0          0      0        0            90.0
2                ELQ             0          0      0        0            45.0
3                ELQ             0          0      0        0            90.0
4                ELQ             0          0      0        1            90.0
...              ...           ...        ...    ...      ...             ...
29969            FR1             0          0      0        0             1.0
29970            FR1             0          0      0        0            90.0
29971            FR1             0          0      0        0            90.0
29972            FR1             0          0      0        0            90.0
29973            FR1             0          0      0        1             0.0

[29974 rows x 13 columns]

##puliamo il dataset club_games

In [80]:
dfcluga = pd.read_csv('../DataAnalysis/Datasets/club_games.csv')
pd.options.display.max_rows = 400
print(dfcluga.info())

# Trovo le colonne con celle vuote
empty_columns_cells = dfcluga.columns[dfcluga.isnull().any()]

print("Colonne con campi vuoti:")
print(empty_columns_cells)  # List of column names

# Conto le celle vuote per ogni colonna
for col in empty_columns_cells:
    conteggio_campi_vuoti_cluga = dfcluga[col].isnull().sum()
    print(f"Colonna '{col}' ha {conteggio_campi_vuoti_cluga} campi vuoti.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130432 entries, 0 to 130431
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                130432 non-null  int64
 1   club_id                130432 non-null  int64
 2   own_goals              130432 non-null  int64
 3   own_position           91524 non-null   float64
 4   own_manager_name       128948 non-null  object
 5   opponent_id            130432 non-null  int64
 6   opponent_goals         130432 non-null  int64
 7   opponent_position      91524 non-null   float64
 8   opponent_manager_name  128948 non-null  object
 9   hosting                130432 non-null  object
 10  is_win                 130432 non-null  int64
dtypes: float64(2), int64(6), object(3)
memory usage: 10.9+ MB
None
Colonne con campi vuoti:
Index(['own_position', 'own_manager_name', 'opponent_position',
       'opponent_manager_name'],
      dtype='object')
Colonna 'own_position' ha 38908 campi vuoti.
Colonna 'own_manager_name' ha 1484 campi vuoti.
Colonna 'opponent_position' ha 38908 campi vuoti.
Colonna 'opponent_manager_name' ha 1484 campi vuoti.

In [81]:
dfcluga.fillna({"own_position": "Missing"}, inplace=True)
dfcluga.fillna({"own_manager_name": "Missing"}, inplace=True)
dfcluga.fillna({"opponent_position": "Missing"}, inplace=True)
dfcluga.fillna({"opponent_manager_name": "Missing"}, inplace=True)
print(dfcluga.info())
print(dfcluga)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130432 entries, 0 to 130431
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                130432 non-null  int64
 1   club_id                130432 non-null  int64
 2   own_goals              130432 non-null  int64
 3   own_position           130432 non-null  object
 4   own_manager_name       130432 non-null  object
 5   opponent_id            130432 non-null  int64
 6   opponent_goals         130432 non-null  int64
 7   opponent_position      130432 non-null  object
 8   opponent_manager_name  130432 non-null  object
 9   hosting                130432 non-null  object
 10  is_win                 130432 non-null  int64
dtypes: int64(6), object(5)
memory usage: 10.9+ MB
None
        game_id  club_id  own_goals own_position      own_manager_name  \
0       2221751      431          1      Missing         Lutz Göttling
1       2221755       83          3      Missing      Ralph Hasenhüttl
2       2222597     3725          2          2.0  Stanislav Cherchesov
3       2222627     2696          0         11.0        Andrey Kobelev
4       2222658     2410          0          2.0        Leonid Slutski
...         ...      ...        ...          ...                   ...
130427  4126931    20923          2      Missing       Sergey Perednya
130428  4148237      920          0      Missing      Ruaidhri Higgins
130429  4171268      681          2      Missing       Imanol Alguacil
130430  4148252      144          3      Missing      Sergej Jakirovic
130431  4171248      418          3      Missing       Carlo Ancelotti

        opponent_id  opponent_goals opponent_position opponent_manager_name  \
0                60               2           Missing     Christian Streich
1              4795               0           Missing            Tomas Oral
2               232               1               5.0            Unai Emery
3              4128               2              10.0         Rustem Khuzin
4               121               2              13.0          Dan Petrescu
...             ...             ...               ...                   ...
130427        12065               1           Missing   Aleksandr Gorbachev
130428        10481               1           Missing          Milic Curcic
130429          409               0           Missing       Gerhard Struber
130430        10532               1           Missing          Dan Brimsvík
130431         6195               2           Missing           Rudi Garcia

       hosting  is_win
0         Home       0
1         Home       1
2         Home       1
3         Home       0
4         Home       0
...        ...     ...
130427    Away       1
130428    Away       0
130429    Away       1
130430    Away       1
130431    Away       1

[130432 rows x 11 columns]

#puliamo il dataset game_events

In [83]:
dfevents = pd.read_csv('../DataAnalysis/Datasets/game_events.csv')
pd.options.display.max_rows = 400
print(dfcluga.info())

# Trovo le colonne con celle vuote
empty_columns_cells = dfevents.columns[dfevents.isnull().any()]

print("Colonne con campi vuoti:")
print(empty_columns_cells)  # List of column names

# Conto le celle vuote per ogni colonna
for col in empty_columns_cells:
    conteggio_campi_vuoti_events = dfevents[col].isnull().sum()
    print(f"Colonna '{col}' ha {conteggio_campi_vuoti_events} campi vuoti.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130432 entries, 0 to 130431
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                130432 non-null  int64
 1   club_id                130432 non-null  int64
 2   own_goals              130432 non-null  int64
 3   own_position           130432 non-null  object
 4   own_manager_name       130432 non-null  object
 5   opponent_id            130432 non-null  int64
 6   opponent_goals         130432 non-null  int64
 7   opponent_position      130432 non-null  object
 8   opponent_manager_name  130432 non-null  object
 9   hosting                130432 non-null  object
 10  is_win                 130432 non-null  int64
dtypes: int64(6), object(5)
memory usage: 10.9+ MB
None
Colonne con campi vuoti:
Index(['player_id', 'description', 'player_in_id', 'player_assist_id'], dtype='object')
Colonna 'player_id' ha 1 campi vuoti.
Colonna 'description' ha 1 campi vuoti.
Colonna 'player_in_id' ha 11632 campi vuoti.
Colonna 'player_assist_id' ha 17038 campi vuoti.

In [84]:
dfevents.fillna({"player_id": "Missing"}, inplace=True)
dfevents.fillna({"description": "Missing"}, inplace=True)
dfevents.fillna({"player_in_id": "Missing"}, inplace=True)
dfevents.fillna({"player_assist_id": "Missing"}, inplace=True)
print(dfevents.info())
print(dfevents)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21018 entries, 0 to 21017
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_event_id     21018 non-null  object
 1   date              21018 non-null  object
 2   game_id           21018 non-null  int64
 3   minute            21018 non-null  int64
 4   type              21018 non-null  object
 5   club_id           21018 non-null  int64
 6   player_id         21018 non-null  object
 7   description       21018 non-null  object
 8   player_in_id      21018 non-null  object
 9   player_assist_id  21018 non-null  object
dtypes: int64(3), object(7)
memory usage: 1.6+ MB
None
                          game_event_id        date  game_id  minute  \
0      2f41da30c471492e7d4a984951671677  2012-08-05  2211607      77
1      a72f7186d132775f234d3e2f7bc0ed5b  2012-08-05  2211607      77
2      b2d721eaed4692a5c59a92323689ef18  2012-08-05  2211607       3
3      aef768899cedac0c9a650980219075a2  2012-08-05  2211607      53
4      5d6d9533023057b6619ecd145a038bbe  2012-08-05  2211607      74
...                                 ...         ...      ...     ...
21013  42d23e0eb4ef0e40cb7fe8713ce17ba4  2012-07-28  2229914      73
21014  ddcce03b1c4a590d5d6191455ff11a4b  2012-07-28  2229914      33
21015  23bfe93e5b4fc52c863a96dd13251770  2012-07-28  2229914      79
21016  131061dda10c4580c2bb0db36761b5b8  2012-07-28  2229914      84
21017  c981dda4a717b0f22fadbb527648e9f8  2012-07-28  2229914      43

                type  club_id player_id  \
0              Cards      610    4425.0
1              Cards      383   33210.0
2              Goals      383   36500.0
3              Goals      383   36500.0
4      Substitutions      383   36500.0
...              ...      ...       ...
21013  Substitutions     1411   13371.0
21014          Cards     1411   18416.0
21015          Goals     1411   18416.0
21016  Substitutions     1411   18416.0
21017          Cards      141   Missing

                                             description player_in_id  \
0                   1. Yellow card  , Mass confrontation      Missing
1                   1. Yellow card  , Mass confrontation      Missing
2      , Header, 1. Tournament Goal Assist: , Corner,...      Missing
3      , Right-footed shot, 2. Tournament Goal Assist...      Missing
4                                         , Not reported      49499.0
...                                                  ...          ...
21013                                     , Not reported     102186.0
21014             1. Yellow card  , Unsporting behaviour      Missing
21015  , Right-footed shot, 1. Goal of the Season Ass...      Missing
21016                                     , Not reported      23966.0
21017                                            Missing      Missing

      player_assist_id
0              Missing
1              Missing
2              56416.0
3             146258.0
4              Missing
...                ...
21013          Missing
21014          Missing
21015         102186.0
21016          Missing
21017          Missing

[21018 rows x 10 columns]

##puliamo il dataset game_lineups

In [85]:
dflineup = pd.read_csv('../DataAnalysis/Datasets/game_lineups.csv')
pd.options.display.max_rows = 400
print(dfcluga.info())

# Trovo le colonne con celle vuote
empty_columns_cells = dflineup.columns[dflineup.isnull().any()]

print("Colonne con campi vuoti:")
print(empty_columns_cells)  # List of column names

# Conto le celle vuote per ogni colonna
for col in empty_columns_cells:
    conteggio_campi_vuoti_lineup = dflineup[col].isnull().sum()
    print(f"Colonna '{col}' ha {conteggio_campi_vuoti_lineup} campi vuoti.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130432 entries, 0 to 130431
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                130432 non-null  int64
 1   club_id                130432 non-null  int64
 2   own_goals              130432 non-null  int64
 3   own_position           130432 non-null  object
 4   own_manager_name       130432 non-null  object
 5   opponent_id            130432 non-null  int64
 6   opponent_goals         130432 non-null  int64
 7   opponent_position      130432 non-null  object
 8   opponent_manager_name  130432 non-null  object
 9   hosting                130432 non-null  object
 10  is_win                 130432 non-null  int64
dtypes: int64(6), object(5)
memory usage: 10.9+ MB
None
Colonne con campi vuoti:
Index([], dtype='object')

##In questo singolare caso, il datset game_lineups non ha alcun campo vuoto. Possiamo procedere con la pulizia dell'ultimo dataset in esame, games

In [86]:
dfgames = pd.read_csv('../DataAnalysis/Datasets/games.csv')
pd.options.display.max_rows = 400
print(dfgames.info())

# Trovo le colonne con celle vuote
empty_columns_cells = dfgames.columns[dfgames.isnull().any()]

print("Colonne con campi vuoti:")
print(empty_columns_cells)  # List of column names

# Conto le celle vuote per ogni colonna
for col in empty_columns_cells:
    conteggio_campi_vuoti_games = dfgames[col].isnull().sum()
    print(f"Colonna '{col}' ha {conteggio_campi_vuoti_games} campi vuoti.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65216 entries, 0 to 65215
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 65216 non-null  int64
 1   competition_id          65216 non-null  object
 2   season                  65216 non-null  int64
 3   round                   65216 non-null  object
 4   date                    65216 non-null  object
 5   home_club_id            65216 non-null  int64
 6   away_club_id            65216 non-null  int64
 7   home_club_goals         65216 non-null  int64
 8   away_club_goals         65216 non-null  int64
 9   home_club_position      45762 non-null  float64
 10  away_club_position      45762 non-null  float64
 11  home_club_manager_name  64474 non-null  object
 12  away_club_manager_name  64474 non-null  object
 13  stadium                 65005 non-null  object
 14  attendance              55704 non-null  float64
 15  referee                 64622 non-null  object
 16  url                     65216 non-null  object
 17  home_club_formation     2869 non-null   object
 18  away_club_formation     2888 non-null   object
 19  home_club_name          53964 non-null  object
 20  away_club_name          55167 non-null  object
 21  aggregate               65216 non-null  object
 22  competition_type        65216 non-null  object
dtypes: float64(3), int64(6), object(14)
memory usage: 11.4+ MB
None
Colonne con campi vuoti:
Index(['home_club_position', 'away_club_position', 'home_club_manager_name',
       'away_club_manager_name', 'stadium', 'attendance', 'referee',
       'home_club_formation', 'away_club_formation', 'home_club_name',
       'away_club_name'],
      dtype='object')
Colonna 'home_club_position' ha 19454 campi vuoti.
Colonna 'away_club_position' ha 19454 campi vuoti.
Colonna 'home_club_manager_name' ha 742 campi vuoti.
Colonna 'away_club_manager_name' ha 742 campi vuoti.
Colonna 'stadium' ha 211 campi vuoti.
Colonna 'attendance' ha 9512 campi vuoti.
Colonna 'referee' ha 594 campi vuoti.
Colonna 'home_club_formation' ha 62347 campi vuoti.
Colonna 'away_club_formation' ha 62328 campi vuoti.
Colonna 'home_club_name' ha 11252 campi vuoti.
Colonna 'away_club_name' ha 10049 campi vuoti.

In [ ]:
dfgames.fillna({"home_club_position": "Missing"}, inplace=True)
dfgames.fillna({"away_club_position": "Missing"}, inplace=True)
dfgames.fillna({"home_club_manager_name": "Missing"}, inplace=True)
dfgames.fillna({"away_club_manager_name": "Missing"}, inplace=True)
dfgames.fillna({"stadium": "Missing"}, inplace=True)
dfgames.fillna({"attendance": "Missing"}, inplace=True)
dfgames.fillna({"referee": "Missing"}, inplace=True)
dfgames.fillna({"home_club_formation": "Missing"}, inplace=True)
dfgames.fillna({"away_club_formation": "Missing"}, inplace=True)
dfgames.fillna({"home_club_name": "Missing"}, inplace=True)
dfgames.fillna({"away_club_name": "Missing"}, inplace=True)
print(dfgames.info())
print(dfgames)

##Infine andiamo a conservare i dataset puliti nella cartella cleanDatasets

In [87]:
def save_cleaned_data(dataframes, output_folder="cleanDatasets"):
    """
    Saves cleaned DataFrames to separate CSV files in the specified output folder.
  
    Args:
        dataframes (dict): A dictionary mapping DataFrame names (keys) to DataFrames (values).
        output_folder (str, optional): The path to the output folder. Defaults to "cleanDatasets".
  
    Raises:
        OSError: If there's an issue creating the output directory (if it doesn't exist).
    """

    # creo la directory se non esiste
    output_dir = os.path.join(os.getcwd(), output_folder)
    if not os.path.exists(output_dir):
        try:
            os.makedirs(output_dir)
        except OSError:
            raise OSError(f"Could not create output directory: {output_dir}")

    # salvo ogni df file in un file csv
    for name, df in dataframes.items():
        output_file = os.path.join(output_dir, f"{name}.csv")  #aggiungo l'estensione csv
        df.to_csv(output_file, index=False)  # salvo senza indice

dataframes = {
    "clubs": dfclub,
    "players": df,
    "competitions": dfcompetitions,
    "player_valuations": dfeval,
    "appearances": dfapp,
    "club_games": dfcluga,
    "game_events": dfevents,
    "game_lineups": dflineup,
    "games": dfgames
}

save_cleaned_data(dataframes)

Adesso possiamo fare l'analisi dei dati, precedentemente fatta utilizzando dataset con celle mancanti andando a sopperire a tali mancanze usando direttamente i metodi di fillna e dropna nella stessa, con i dataset puliti.