#Esempio di cleaning dei dati dentro a un dataset tramite jupyter notebook
##Librerie utilizzate

In [1]:
import pandas as pd
import numpy as np

##Importiamo, per esempio, il dataset players.csv

In [2]:
df = pd.read_csv('../DataAnalysis/Datasets/players.csv')
pd.options.display.max_rows = 400
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30302 entries, 0 to 30301
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             30302 non-null  int64
 1   first_name                            28337 non-null  object
 2   last_name                             30302 non-null  object
 3   name                                  30302 non-null  object
 4   last_season                           30302 non-null  int64
 5   current_club_id                       30302 non-null  int64
 6   player_code                           30302 non-null  object
 7   country_of_birth                      27613 non-null  object
 8   city_of_birth                         28099 non-null  object
 9   country_of_citizenship                29759 non-null  object
 10  date_of_birth                         30255 non-null  object
 11  sub_position                          30130 non-null  object
 12  position                              30302 non-null  object
 13  foot                                  27913 non-null  object
 14  height_in_cm                          28204 non-null  float64
 15  market_value_in_eur                   19383 non-null  float64
 16  highest_market_value_in_eur           28981 non-null  float64
 17  contract_expiration_date              18835 non-null  object
 18  agent_name                            14941 non-null  object
 19  image_url                             30302 non-null  object
 20  url                                   30302 non-null  object
 21  current_club_domestic_competition_id  30302 non-null  object
 22  current_club_name                     30302 non-null  object
dtypes: float64(3), int64(3), object(17)
memory usage: 5.3+ MB
None

##Osserviamo adesso quali colonne contengono campi vuoti al loro interno e la quantità di tali campi

In [3]:
colonne_con_campi_vuoti = df.columns[df.isnull().any()]
print("Colonne con campi vuoti:")
print(colonne_con_campi_vuoti)

Colonne con campi vuoti:
Index(['first_name', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'foot',
       'height_in_cm', 'market_value_in_eur', 'highest_market_value_in_eur',
       'contract_expiration_date', 'agent_name'],
      dtype='object')

In [4]:
for colonna in colonne_con_campi_vuoti:
    conteggio_campi_vuoti = df[colonna].isnull().sum()
    print(f"Colonna '{colonna}' ha {conteggio_campi_vuoti} campi vuoti.")

Colonna 'first_name' ha 1965 campi vuoti.
Colonna 'country_of_birth' ha 2689 campi vuoti.
Colonna 'city_of_birth' ha 2203 campi vuoti.
Colonna 'country_of_citizenship' ha 543 campi vuoti.
Colonna 'date_of_birth' ha 47 campi vuoti.
Colonna 'sub_position' ha 172 campi vuoti.
Colonna 'foot' ha 2389 campi vuoti.
Colonna 'height_in_cm' ha 2098 campi vuoti.
Colonna 'market_value_in_eur' ha 10919 campi vuoti.
Colonna 'highest_market_value_in_eur' ha 1321 campi vuoti.
Colonna 'contract_expiration_date' ha 11467 campi vuoti.
Colonna 'agent_name' ha 15361 campi vuoti.

##Cambiamo adesso i valori nulli con i corretti valori di default

In [8]:
df.fillna({"foot": "null"}, inplace=True)
df.fillna({"market_value_in_eur": 0}, inplace=True)
df.fillna({"sub_position": "Missing"}, inplace=True)
df.fillna({"country_of_birth": "Missing"}, inplace=True)
df.fillna({"city_of_birth": "Missing"}, inplace=True)
df.fillna({"country_of_citizenship": "Missing"}, inplace=True)
df.fillna({"height_in_cm": 0}, inplace=True)
df.fillna({"market_value_in_eur": 0}, inplace=True)
df.fillna({"highest_market_value_in_eur": 0}, inplace=True)
df.fillna({"agent_name": "Missing"}, inplace=True)
print(df)

       player_id first_name    last_name                name  last_season  \
0            598       Timo   Hildebrand     Timo Hildebrand         2014
1            670     Martin       Petrov       Martin Petrov         2012
2           1323     Martin      Amedick      Martin Amedick         2012
3           3195   Jermaine      Pennant    Jermaine Pennant         2013
4           3259     Damien         Duff         Damien Duff         2013
...          ...        ...          ...                 ...          ...
30297     371851       Jaka        Bijol          Jaka Bijol         2023
30298     537171     Semuel  Pizzignacco  Semuel Pizzignacco         2018
30299     586756      Festy      Ebosele       Festy Ebosele         2023
30300     704692     Nicolò      Cocetta      Nicolò Cocetta         2022
30301     925584       Axel     Guessand       Axel Guessand         2023

       current_club_id         player_code country_of_birth  \
0                   24     timo-hildebrand          Germany
1                  714       martin-petrov         Bulgaria
2                   24      martin-amedick          Germany
3                  512    jermaine-pennant          England
4                  931         damien-duff          Ireland
...                ...                 ...              ...
30297              410          jaka-bijol         Slovenia
30298              410  semuel-pizzignacco            Italy
30299              410       festy-ebosele          Ireland
30300              410      nicolo-cocetta            Italy
30301              410       axel-guessand           France

                city_of_birth country_of_citizenship  ...   foot height_in_cm  \
0                       Worms                Germany  ...   both          0.0
1                      Vratsa               Bulgaria  ...   both          0.0
2                   Paderborn                Germany  ...   both          0.0
3                  Nottingham                England  ...  right        173.0
4                  Ballyboden                Ireland  ...   left        177.0
...                       ...                    ...  ...    ...          ...
30297                Vuzenica               Slovenia  ...  right        190.0
30298              Monfalcone                  Italy  ...  right        188.0
30299    Enniscorthy, Wexford                Ireland  ...  right        180.0
30300  San Daniele del Friuli                  Italy  ...   both          0.0
30301            Schiltigheim                 France  ...   left        184.0

      market_value_in_eur highest_market_value_in_eur  \
0                     0.0                  10000000.0
1                     0.0                  12000000.0
2                     0.0                   2750000.0
3                     0.0                  10500000.0
4                     0.0                  17000000.0
...                   ...                         ...
30297          10000000.0                  10000000.0
30298            325000.0                    350000.0
30299           4500000.0                   4500000.0
30300             75000.0                     75000.0
30301            250000.0                    300000.0

       contract_expiration_date         agent_name  \
0                           NaN            Missing
1                           NaN                IFM
2                           NaN            Missing
3                           NaN         Andrew Sky
4                           NaN            Missing
...                         ...                ...
30297       2027-06-30 00:00:00          MSC GROUP
30298       2025-06-30 00:00:00            Missing
30299       2027-06-30 00:00:00  The Kulture Group
30300       2023-06-30 00:00:00            Missing
30301       2027-06-30 00:00:00        CAA Stellar

                                               image_url  \
0      https://img.a.transfermarkt.technology/portrai...
1      https://img.a.transfermarkt.technology/portrai...
2      https://img.a.transfermarkt.technology/portrai...
3      https://img.a.transfermarkt.technology/portrai...
4      https://img.a.transfermarkt.technology/portrai...
...                                                  ...
30297  https://img.a.transfermarkt.technology/portrai...
30298  https://img.a.transfermarkt.technology/portrai...
30299  https://img.a.transfermarkt.technology/portrai...
30300  https://img.a.transfermarkt.technology/portrai...
30301  https://img.a.transfermarkt.technology/portrai...

                                                     url  \
0      https://www.transfermarkt.co.uk/timo-hildebran...
1      https://www.transfermarkt.co.uk/martin-petrov/...
2      https://www.transfermarkt.co.uk/martin-amedick...
3      https://www.transfermarkt.co.uk/jermaine-penna...
4      https://www.transfermarkt.co.uk/damien-duff/pr...
...                                                  ...
30297  https://www.transfermarkt.co.uk/jaka-bijol/pro...
30298  https://www.transfermarkt.co.uk/semuel-pizzign...
30299  https://www.transfermarkt.co.uk/festy-ebosele/...
30300  https://www.transfermarkt.co.uk/nicolo-cocetta...
30301  https://www.transfermarkt.co.uk/axel-guessand/...

      current_club_domestic_competition_id       current_club_name
0                                       L1     Eintracht Frankfurt
1                                      ES1  RCD Espanyol Barcelona
2                                       L1     Eintracht Frankfurt
3                                      GB1              Stoke City
4                                      GB1               Fulham FC
...                                    ...                     ...
30297                                  IT1          Udinese Calcio
30298                                  IT1          Udinese Calcio
30299                                  IT1          Udinese Calcio
30300                                  IT1          Udinese Calcio
30301                                  IT1          Udinese Calcio

[30302 rows x 23 columns]

##Cambiamo il formato della data di "contract_expiration_date" e "date_of_birth" rimpiazzando i valori "null" con la data di default "1900-01-01"

In [13]:
df.fillna({"contract_expiration_date": "1900-01-01 00:00:00"}, inplace=True)
df["contract_expiration_date"] = pd.to_datetime(df["contract_expiration_date"]).dt.normalize()

df.fillna({"date_of_birth": "1900-01-01 00:00:00"}, inplace=True)
df["date_of_birth"] = pd.to_datetime(df["date_of_birth"], format = 'mixed').dt.normalize()

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30302 entries, 0 to 30301
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             30302 non-null  int64
 1   first_name                            28337 non-null  object
 2   last_name                             30302 non-null  object
 3   name                                  30302 non-null  object
 4   last_season                           30302 non-null  int64
 5   current_club_id                       30302 non-null  int64
 6   player_code                           30302 non-null  object
 7   country_of_birth                      30302 non-null  object
 8   city_of_birth                         30302 non-null  object
 9   country_of_citizenship                30302 non-null  object
 10  date_of_birth                         30302 non-null  datetime64[ns]
 11  sub_position                          30302 non-null  object
 12  position                              30302 non-null  object
 13  foot                                  30302 non-null  object
 14  height_in_cm                          30302 non-null  float64
 15  market_value_in_eur                   30302 non-null  float64
 16  highest_market_value_in_eur           30302 non-null  float64
 17  contract_expiration_date              30302 non-null  datetime64[ns]
 18  agent_name                            30302 non-null  object
 19  image_url                             30302 non-null  object
 20  url                                   30302 non-null  object
 21  current_club_domestic_competition_id  30302 non-null  object
 22  current_club_name                     30302 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(3), object(15)
memory usage: 5.3+ MB
None

##Convertiamo tipi di oggetti nei relativi tipi corretti

In [14]:
df["market_value_in_eur"] = df["market_value_in_eur"].astype(float)
df["first_name"] = df["first_name"].astype(str)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30302 entries, 0 to 30301
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             30302 non-null  int64
 1   first_name                            30302 non-null  object
 2   last_name                             30302 non-null  object
 3   name                                  30302 non-null  object
 4   last_season                           30302 non-null  int64
 5   current_club_id                       30302 non-null  int64
 6   player_code                           30302 non-null  object
 7   country_of_birth                      30302 non-null  object
 8   city_of_birth                         30302 non-null  object
 9   country_of_citizenship                30302 non-null  object
 10  date_of_birth                         30302 non-null  datetime64[ns]
 11  sub_position                          30302 non-null  object
 12  position                              30302 non-null  object
 13  foot                                  30302 non-null  object
 14  height_in_cm                          30302 non-null  float64
 15  market_value_in_eur                   30302 non-null  float64
 16  highest_market_value_in_eur           30302 non-null  float64
 17  contract_expiration_date              30302 non-null  datetime64[ns]
 18  agent_name                            30302 non-null  object
 19  image_url                             30302 non-null  object
 20  url                                   30302 non-null  object
 21  current_club_domestic_competition_id  30302 non-null  object
 22  current_club_name                     30302 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(3), object(15)
memory usage: 5.3+ MB
None